<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="/style.css" />
  <title>Members</title>
</head>

<body background="http://www.florestaua.com/wp-content/uploads/2015/09/Microphone-Old.jpg">
  <header>
    <nav class="black">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo center grey-text text-lighten-4">LineUp</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="/users">Members</a></li>
          <li><a href="/signup">Sign Up</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/Contact">Contact</a></li>
          <!-- <li class="active"><a href="collapsible.html"></a></li> -->
        </ul>
      </div>
    </nav>
  </header>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div>
    <h4 href="#" class="center grey-text text-lighten-4">Join our Community</h4>
    <ul href="#" class="center">
      <li><a href="/signup" style="font-size: 20px !important">Sign Up</a></li>
      <br>
      <li><a href="/users" style="font-size: 20px !important">Find Friends</a></li>
    </ul>
    <!-- <h2 href="#" class="center grey-text text-lighten-4">All Friends</h2>
    <ul>
      <% for (var i=0; i<users.length; i++) { %>
        <li><a href=/users/<%=users[i].id %>> <%=users[i].username %></a></li>
        <% } %>
    </ul> -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
  <footer class="page-footer black">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">LineUp</h5>
          <p class="grey-text text-lighten-4">Find local artists, venues, and tickets wherever you are with a single click.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
            <li><a class="grey-text text-lighten-3" href="/about">About</a></li>
            <li><a class="grey-text text-lighten-3" href="/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <a href="https://www.linkedin.com/in/stephanie-baron/">© 2017 Stephanie Baron<a>
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>

  </div>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- <script type="text/javascript" src="js/materialize.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="script.js"></script>
</body>

</html>
